
.cardsArea {
    background: #E3E5EF;
}
.card {
    height: 400px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.23);
    margin: 10px 0;
    overflow: hidden;
    padding: 0;
}
.cardPadding {
    padding: 1px 0.9375rem;
}
.cardImg {
    width: 100%;
    height: 400px;
}
.cardImgArea {
    overflow: hidden;
    padding: 0;
}
.socialT {
    background: #25AAE1;
}
.socialG {
    background: #ED1C24;
}
.socialF {
    background: #2E3192;
}
.socialTitle h2 {
    color: white;
    padding: 10px 20px;
    margin-top: 0;
}
.cardIndexTv {
    height: 810px;
}
.card ul {
	margin: 0;
	padding: 0;
} 

.card ul li {
    border-top: solid 1px #D5D6D7;
    list-style: none;
}
