@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);
/* entypo */

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
/* fontawesome */

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
h2 {
    font-size:1.5rem;
    font-family: 'Oswald', sans-serif;   
    font-style: bold;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;

}

.row {
    max-width: 1300px;
}
.cardsArea {
    background: #E3E5EF;
}
.card {
    height: 400px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.23);
    margin: 10px 0;
    overflow: hidden;
    padding: 0px;
}
.cardPadding {
    padding: 1px 0.9375rem;
}
.cardImgArea {
    overflow: hidden;
    padding: 0;
}
.socialT {
    background: #25AAE1;
}
.socialG {
    background: #ED1C24;
}
.socialF {
    background: #2E3192;
}
.socialTitle h2 {
    color: white;
    padding: 10px 20px;
    margin-top: 0;
}
.cardIndexTv {
    height: 810px;
}

.cardList ul {
    margin: 0;
    padding: 0;
}
.cardList ul li {
    border-top: solid 1px #D5D6D7;
    list-style: none;
}
.imgCard {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.noticiaArea p{
 line-height: 2.6;
}

// Small screens
@media only screen {}
/* Define mobile styles */

@media only screen and (max-width: 40em) {
    .cardIndexTv {
        height:350px;
    }
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {}
/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .cardIndexTv {
        height:450px;
    }

    h2 {
        font-size: 1.5rem;
    }
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
     h2 {
        font-size: 1.5rem;
    }
}
/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) {}
/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) {}
/* min-width 1921px, xxlarge screens */
