@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


.barraSuperior {

	background-color: #8CDDDC;
	width: 100%;
	height: 100px;

}

.barraMenu {

	background: #19BCB9;
	width: 100%;
	height: 35px;
	z-index: 0;
}

.circleLogo {

	position: absolute;
	top: 20px;
	width: 190px;
	height: 190px;
	border-radius: 100%;
	background: white;
	z-index: 1;
}

.logo {

	background: url(../img/logo.png);
	background-size: 95%;
	background-repeat: no-repeat;
	width: 170px;
	height: 100px;
	margin: 40px 13px;


}

.circleUser {

	position: relative;
	width: 60px;
	height: 60px;
	top: 20px;
	margin-left: 130px;
	border-radius: 100%;
	background: rgb(225,225,225);
	z-index: 2;
}



.menu  {
  
	position: relative;
	display: inline;
  	list-style: none;
  	float: right;

}

.menu li {

	font-family: 'Oswald', sans-serif; 
	position: relative;
	color: white;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	padding: 7px 10px ;
	cursor: pointer;

}

.menu li:hover {
	 
	color:  #8CDDDC;

}


.bg {

	background: url(../img/BG.png);
	background-size: cover;
	height: 115%;
	background-position: center;
}

.infoContenedor {

	width: 100%;
	height: 600px;
	margin-top: 150px;
	margin-bottom: 100px;
}



.tarjetaPatrocinadores {

	width: 100%;
	height:100%;
	background: white;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.23);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.23);




}

.imagenesPatrocinadores {

	position: relative;

	padding: 15px 15px;




}

.mapa {

	

	height: 95%;
	background: rgba(250,250,250,.7);



}

.asociasionesTitulo {

	font-family: 'Oswald', sans-serif; 
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
	color: #18918E; 
}

.imagenMapa {

	width: 90%;
	margin-left: 15px;
	margin-right: auto;

}


.stripe {

	background: #24BCB9;
	width: 100%;
	height:500px;
}

.raicesStripe {

	width: 100%;
	background: #323234;
	height: 400px;

}

.footerStripe{

	width: 100%;
	height: 200px;
	background:#19BCB9; 
}

.modulo {

	height: 1000px;
	background: #E3E5EF;
}

