@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #efe2dc;
}


h4 {

	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
}

h5 {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 20px;

}


ul {
  list-style:none;
  font-family: 'Open Sans', sans-serif;
}

li {
  display:inline-block;
  color: white;
  padding:15px;
background: #cc5375; /* Old browsers */
background: -moz-linear-gradient(top,  #cc5375 0%, #c23e66 33%, #b32f57 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc5375), color-stop(33%,#c23e66), color-stop(100%,#b32f57)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cc5375 0%,#c23e66 33%,#b32f57 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cc5375 0%,#c23e66 33%,#b32f57 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cc5375 0%,#c23e66 33%,#b32f57 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cc5375 0%,#c23e66 33%,#b32f57 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc5375', endColorstr='#b32f57',GradientType=0 ); /* IE6-9 */
 */

}

li:hover {
  cursor:pointer;
  background: #a8274e; /* Old browsers */
background: -moz-linear-gradient(top,  #a8274e 0%, #800228 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8274e), color-stop(100%,#800228)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a8274e 0%,#800228 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a8274e 0%,#800228 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a8274e 0%,#800228 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a8274e 0%,#800228 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8274e', endColorstr='#800228',GradientType=0 ); /* IE6-9 */

}

.logo {

	display: inline-block;
	width: auto;
	height: auto;	
	margin-top: 40px;
	margin-bottom: 40px;
}

.logoInfo {
	
	position: relative;
	display: inline-block;
	top: 10px;
	color: #da849a;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 15px;


}

.infoHeader {

	font-family: 'Open Sans', sans-serif;
	color: #da849a;
	width: auto;
	height: auto;	
	margin-top: 20px;
	margin-bottom: 0;
	float: right;
	text-align: right;
}




.menu {
  position: relative;
  z-index: 1;
  width:100%;
  border-radius:5px;
  margin-left: 0;

background: #cc5375; /* Old browsers */
background: -moz-linear-gradient(top,  #cc5375 0%, #c23e66 33%, #b32f57 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc5375), color-stop(33%,#c23e66), color-stop(100%,#b32f57)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cc5375 0%,#c23e66 33%,#b32f57 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cc5375 0%,#c23e66 33%,#b32f57 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cc5375 0%,#c23e66 33%,#b32f57 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cc5375 0%,#c23e66 33%,#b32f57 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc5375', endColorstr='#b32f57',GradientType=0 ); /* IE6-9 */

}

.firstbtn {
  border-radius: 5px 0 0 5px;
  padding-left:25px;
}



.mainPic {

	position: relative;
	width: 100%;
	height: auto;




}


.circle0 {

	cursor: default;
	position: relative;
	padding: 45px;
	width: 250px;
	height: 250px;
	top:50px;
	background-color: #96397b;
	color: white;
	text-align: center;
	float: right;
	font-family: 'Open Sans', sans-serif; 
	border-radius: 100%;

}

.circle01 {

	cursor: pointer;
	position: relative;
	margin-left: 95px;
	width:70px;
	height: 70px;
	background-color: #d04566;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	border-radius: 100%;
	opacity: .8;



}




.arrowCircle{
	z-index: 110;
	position: relative;
	display: block;
	width: 60%;
	height: auto;
	padding:15px 10px 5px 10px;
	left: 15px;
}

.sliderPosition {

	position: relative;
	margin-bottom:-150px;
	margin-top: -50px;

}

.GreenContainer {
    background-color: #0cc9c3;
    height: auto;
    margin: 0px;
    position: relative;
    width: 100%;


}

.GreenContainer::before {

    background-color:#0cc9c3;
    content: '';
    display: inline-block;
    height: 85px;
    position: absolute;
    left: 0;
    bottom:-50px;
    transform:             skewY( 1.5deg ); 
        -ms-transform:     skewY( 1.5deg ); 
        -webkit-transform: skewY( 1.5deg ); 
        -o-transform:      skewY( 1.5deg ); 
        -moz-transform:    skewY( 1.5deg ); 
    width: 100%;
}


.displaceupBigCenter {
	position: relative;
	top: -100px;
	width: 100%;
	height: auto;
	border-radius: 100%;

}
.displaceupSmallRight {
	float: right;
	position: relative;
	top: -100px;
	width: 90%;
	height: auto;
	border-radius: 100%;
}

.displaceupSmallLeft {
	float: left;
	position: relative;
	top: -100px;
	width: 90%;
	height: auto;
	border-radius: 100%;
}

.info1 {
	position: relative;
	margin-top: -50px;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.info2 {
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.cirugiasContainer{

	background-color: #f2f2f2;
	z-index: -20;
}

.cirugias{
	color:#c93e67;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-size: 30px;
	z-index: 0;
	margin-top: 100px;
	padding-left: 100px;
}

.cirugiasCircle {

position: relative;
margin-top: 20px;
width: 80%;
height: auto;

}

.cirugiasInfo{

	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-size: 15px;
	z-index: 0;
	margin-top: 20px;
	padding-left: 0;

}

.separator{
	height: 10px;	
}

.serviciosContainer{

	background-color: #f2f2f2;
	z-index: -20;
	padding-bottom: 100px;

}

.servicios{
	color:#c93e67;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-size: 30px;
	z-index: 0;
	margin-top: 100px;
	padding-left: 100px;
}

.serviciosInfo{

	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-size: 15px;
	z-index: 0;
	margin-top: 20px;

}


.cita {

	position: relative;
	border-radius: 15px 15px 0 0;
	background: #c93e67;
	float: left;
	height: 45px;
	width: 145px;
	bottom: -100px;
	text-align: center;
	color: white;
}

.cita:hover {

	cursor: pointer;
}

.cita::before {

	content:'';
	position: absolute;
 	bottom: 0;
 	background: #c93e67;
 	left: -15px;
 	width: 15px;
 	height: 15px;
 	z-index: 1;

}

.cita::after {

	content:'';
	position: absolute;
 	bottom: 0;
 	background: #c93e67;
 	right: -15px;
 	width: 15px;
 	height: 15px;
 	z-index: 1;

}

.roundEdges::after {

	content:'';
	position: absolute;
 	bottom: 0;
 	background:#f2f2f2 ;
 	border-radius: 100%;
 	left: -30px;
 	width: 30px;
 	height: 30px;
 	z-index: 2;

}

.roundEdges::before {

	content:'';
	position: absolute;
 	bottom: 0;
 	background:#f2f2f2 ;
 	border-radius: 100%;
 	right: -30px;
 	width: 30px;
 	height: 30px;
 	z-index: 2;

}

.roundEdges::first-line {
	font-size: 44px;
	color:blue;
}

.contacto {

	width: 100%;
	padding-top: 40px;
	background:#c93e67;
	overflow: hidden;
	position: relative;

}


label {

	color: white;
}

footer {
	height: 100px;
	width: 100%;
	background:#c93e67;
}

@media (max-width:780px) {

	.infoHeader {

		display:none;
	}

}

@media (max-width: 650px) {

	.menu {

		
	}

	li {
		
	  padding:5px;
  	  font-size: 12px;


	}

	.firstbtn {
  	  
  	  border-radius: 5px 0 0 5px;
  	  padding-left:15px;
	}


	.displaceupBigCenter {

	top: -50px;


	}
	.displaceupSmallRight {

		top: -50px;

	}

	.displaceupSmallLeft {

		top: -50px;

	}



	.logoInfo {
	
		font-size: 10px;
	}




}

@media (max-width: 500px) {


	.circle0 {

		display: none;
	}

	.logoInfo {
	
		font-size: 10px;
	}


	li {
		
	  padding:10px;
  	  font-size: 8px;


	}

	.firstbtn {
  	  
  	  border-radius: 5px 0 0 5px;
  	  padding-left:15px;
	}





}
